


@section Header{
    <!-- Main Navigation -->
    <nav class="main_nav_container,align-items-center">
        <div class="main_nav">
            <ul id="main_nav_list" class="main_nav_list">
                <li class="main_nav_item">
                    <a href="Shome.html">主頁面</a>
                </li>
                <li class="main_nav_item">
                    <a asp-controller="AHome" asp-action="ArrangeCourse">排課系統</a>
                </li>
                <li class="main_nav_item">
                    <a asp-controller="AHome"asp-action="Leave">出缺勤系統</a>
                </li>
                <li class="main_nav_item">
                    <a href="Shomework.html">作業平台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Stest.html">考試平台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Svideo.html">影片平台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Squestionaire.html">問卷調查</a>
                </li>
                <li class="main_nav_item">
                    <a href="Slearning.html">學習歷程後台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Sforum.html">討論區後台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Sworking.html">就業追蹤</a>
                </li>
            </ul>
        </div>
    </nav>
}


<!-- Home -->

<div class="home">

    <!-- Hero Slider -->
    <div class="hero_slider_container">
        <div class="hero_slider owl-carousel">

            <!-- Hero Slide -->
            <div class="hero_slide">
                <<div class="hero_slide_background" style="background-image:url(../../images/slider_background.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                            Enjoying
                            <span>Ispan</span> Learning!
                        </h1>
                    </div>
                </div>
            </div>

            <!-- Hero Slide -->
            <div class="hero_slide">
                <div class="hero_slide_background" style="background-image:url(../../images/slider_background.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                            Enjoying
                            <span>Ispan</span> Learning!
                        </h1>
                    </div>
                </div>
            </div>

            <!-- Hero Slide -->
            <div class="hero_slide">
                <div class="hero_slide_background" style="background-image:url(../../images/slider_background.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                            Enjoying
                            <span>Ispan</span> Learning!
                        </h1>
                    </div>
                </div>
            </div>

        </div>

        <div class="hero_slider_left hero_slider_nav trans_200">
            <span class="trans_200">上一頁</span>
        </div>
        <div class="hero_slider_right hero_slider_nav trans_200">
            <span class="trans_200">下一頁</span>
        </div>
    </div>

</div>

<div class="hero_boxes">
    <div class="hero_boxes_inner">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="~/images/teachertest.png" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">個人資訊</h2>
                            <a href="courses.html" class="hero_box_link">點擊查看</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="~/images/post.png" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">最新公告</h2>
                            <a href="post.html" class="hero_box_link">點擊查看</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                        <img src="images/message.png" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">未讀通知</h2>
                            <a href="teachers.html" class="hero_box_link">點擊查看</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
