@section Style{
    <style>
        h1 {
            color: black;
            font-family: "微軟正黑體";
            font-size: 60px;
            font-weight: 800;
            border: solid 3px gold;
            border-radius: 10px;
            padding: 3px;
        }
    </style>
}




@section Header{
    <!-- Main Navigation -->
    <nav class="main_nav_container,align-items-center">
        <div class="main_nav">
            <ul id="main_nav_list" class="main_nav_list">
                <li class="main_nav_item">
                    <a href="Shome.html">主頁面</a>
                </li>
                <li class="main_nav_item">
                    <a asp-controller="AHome" asp-action="ArrangeCourse">排課系統</a>
                </li>
                <li class="main_nav_item">
                    <h1 style="font-size:20px">請假系統</h1>
                </li>
                <li class="main_nav_item">
                    <a href="Shomework.html">作業平台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Stest.html">考試平台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Svideo.html">影片平台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Squestionaire.html">問卷調查</a>
                </li>
                <li class="main_nav_item">
                    <a href="Slearning.html">學習歷程後台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Sforum.html">討論區後台</a>
                </li>
                <li class="main_nav_item">
                    <a href="Sworking.html">就業追蹤</a>
                </li>
            </ul>
        </div>
    </nav>
}