@model ISpanSTA.Models.TCategory

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

@*<h1>Create</h1>

<h4>TCategory</h4>*@
<!--<hr />-->
<div class="row">
    <div class="col">
        <form name="myForm" asp-action="AddOrEdit" onsubmit="return jQueryAjaxPost(this);"autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
                <input type="hidden" asp-for="FCategoryId" class="form-control" /> 
                <input asp-for="FCourseId" class="form-control" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FContent" class="control-label"></label>
                <input asp-for="FContent" class="form-control" />
                <span asp-validation-for="FContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確認" class="btn btn-primary btn-block"  />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
